<footer class="footer">
    <img class="logo-bg logo-footer" src="assets/img/symbol.svg" alt="logo">
    <div class="container">
        <div class="footer-top">
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="heading">Hosting</div>
                    <ul class="footer-menu">
                        <li class="menu-item"><a routerLink="/shared-hosting">Shared Hosting</a></li>
                        <li class="menu-item"><a routerLink="/dedicated">Dedicated Server</a></li>
                        <li class="menu-item"><a routerLink="/vps">Cloud Virtual (VPS)</a></li>
                        <li class="menu-item"><a routerLink="/domains">Domain Names</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="heading">Support</div>
                    <ul class="footer-menu">
                        <li class="menu-item"><a routerLink="/login">myAntler</a></li>
                        <li class="menu-item"><a routerLink="/knowledgebase-list">Knowledge Base</a></li>
                        <li class="menu-item"><a routerLink="/contact">Contact Us</a></li>
                        <li class="menu-item"><a routerLink="/faq">FAQ</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="heading">Company</div>
                    <ul class="footer-menu">
                        <li class="menu-item"><a routerLink="/about">About Us</a> </li>
                        <li class="menu-item"><a routerLink="/elements">Features</a></li>
                        <li class="menu-item"><a routerLink="/blog-details">Blog</a></li>
                        <li class="menu-item"><a routerLink="/legal">Legal</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3">
                    <a><img class="svg logo-footer" src="assets/img/logo.svg" alt="logo"></a>
                    <div class="copyrigh">©2021 Antler - All rights reserved</div>
                    <div class="soc-icons">
                        <a routerLink="/"><i class="fab fa-facebook-f"></i></a>
                        <a routerLink="/"><i class="fab fa-youtube"></i></a>
                        <a routerLink="/"><i class="fab fa-twitter"></i></a>
                        <a routerLink="/"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="subcribe news">
        <div class="container">
            <div class="row">
                <form action="#" class="w-100">
                    <div class="col-md-6 offset-md-3">
                        <div class="general-input">
                            <input class="fill-input" type="email" name="email" data-i18n="[placeholder]header.login">
                            <input type="submit" value="SUBSCRIBE" class="btn btn-default-yellow-fill">
                        </div>
                    </div>
                    <div class="col-md-6 offset-md-3 text-center pt-4">
                        <p>Subscribe to our newsletter to receive news and updates</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <ul class="footer-menu">
                        <li id="drop-lng" class="btn-group btn-group-toggle">
                            <label data-lng="en-US" for="option1" class="btn btn-secondary">
                                <input type="radio" name="options" id="option1" checked> EN
                            </label>
                            <label data-lng="pt-PT" for="option2" class="btn btn-secondary">
                                <input type="radio" name="options" id="option2"> PT
                            </label>
                        </li>
                        <li class="menu-item by">Hybrid Design With <span class="c-pink">♥</span> by
                            <a routerLink="/http://inebur.com/" target="_blank">Inebur</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <ul class="payment-list">
                        <li>
                            <p>Payments We Accept</p>
                        </li>
                        <li><i class="fab fa-cc-paypal"></i></li>
                        <li><i class="fab fa-cc-visa"></i></li>
                        <li><i class="fab fa-cc-mastercard"></i></li>
                        <li><i class="fab fa-cc-apple-pay"></i></li>
                        <li><i class="fab fa-cc-discover"></i></li>
                        <li><i class="fab fa-cc-amazon-pay"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="assets/js/scripts.min.js"></script>
<script src="assets/js/gdpr-cookie.min.js"></script>
<script>
    $.gdprcookie.init({});
    $(document.body)
        .on("gdpr:show", function () {
            console.log("Cookie dialog is shown");
        })
        .on("gdpr:accept", function () {
            var preferences = $.gdprcookie.preference();
            console.log("Preferences saved:", preferences);
        })
        .on("gdpr:advanced", function () {
            console.log("Advanced button was pressed");
        });
    if ($.gdprcookie.preference("marketing") === true) {
        console.log("This should run because marketing is accepted.");
    }
</script>